android:
  components:
    # Update Android SDK Tools
    - tools

    - build-tools-26.0.1
    - android-26

    # Support library
    - extra-android-support
    - extra-android-m2repository

script:
    - chmod +x ./gradlew